@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

a {
	color: #006F2A;
}

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

main {
	color: #3D5D42;
	/*color: #555;*/
	line-height: 1.5;
	margin: 0 auto;
	max-width: 50em;
	padding: 3em 1em;
}

h1:first-of-type {
	padding-top: 3rem;
	font-size: 4rem;
	font-weight: 500;
}

h1, h2, h3, strong {
	color: #333;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}

html{
	height: 100%;
	margin: 0;
}

header {
  background-color: #263d36;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.65)
      ), 
      url("https://source.unsplash.com//i_ivTcj8GFo");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  /*padding: 10vw 2em;*/
  text-align: center;
  top: 50%;
  /*display: flex;*/
  height: 100vh;


}

a {
  border: 1px solid #0284B3;
  /*border: 1px solid #3D5D42;*/

  /*border-radius: 290486px;*/
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header li {
	display: inline;
	padding: 1em;
}

header a:hover {
  /*background:  #3D5D42;*/
  background:  #0284B3;
  color: white;
}

header h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

header h3 {
	color: white;
	font-size: 1.5em;
	font-weight: 300;
	max-width: 50em;
	margin: 0 auto;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

.header-text {
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

footer {
	text-align: center;
}

footer a{
	text-decoration: none;
  border: 1px solid #000;
  /*border: 1px solid #3D5D42;*/

  /*border-radius: 290486px;*/
  color: white;
  background-color: #0284B3;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

footer a:hover {
  /*background:  #3D5D42;*/
  background:  rgba(0, 0, 0, 0.2);
  border: 1px solid #0284B3;
  color: #0284B3;
}

footer li {
	list-style: none;
	display: inline;
	padding: 1em;
}

.lead {
	font-size: 1.5rem;
	font-weight: 400;
	font-style: italic;
}

.tagline {
	font-size: 2.3rem;
	/*padding-top: 7rem;*/
	/*max-width: 550px;*/
	font-style: italic;
	margin-top: 1em;
	padding-top: 1em;
}

ul:first-of-type {
	padding: 3rem;
	padding-bottom: 5rem;
	/*padding-bottom: 5rem;*/
	margin: 0;
}

/*code,
pre {
  background: #f5f7f9;
  border-botom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}*/