@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

:root {
  --heading-color: #fbfcfe;
  --link-main-color: #296eaa;
  --main-background-color: #fbfcfe;
}

body {
	font-family: "Raleway", "Helvetica", "Arial", sans-serif;
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
	background-color: var(--main-background-color);
}

main {
	line-height: 1.5;
	margin: 0 auto;
	max-width: 50rem;
	padding: 1rem;
  text-align: justify;
}

h1:first-of-type {
  color: var(--heading-color);
	padding-top: 3rem;
  padding-bottom: 1rem;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: .4rem;
	text-transform: uppercase;
  font-family: Raleway;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}

h1 {
  /*padding-top: 1rem;*/
}

h1, h2, h3, strong {
	color: #333;
}

h2 {
	font-size: 2rem;
	padding-bottom: 0.75rem;
	padding-top: 2rem;
	border-bottom: 2px solid var(--link-main-color);
	border-image: linear-gradient(to left, transparent, var(--link-main-color)) 10;
}

h3 {
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	padding-top: 1.25rem;
  padding-bottom: 0.5rem;
	text-transform: uppercase;
}

html{
	height: 100%;
	margin: 0;
}

header {
  background-color: #263d36;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.65)
      ), 
      url(background-small.jpg)
      /*url("https://source.unsplash.com//i_ivTcj8GFo")*/;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  text-align: center;
  top: 50%;
  height: 100vh;


}

header a {
  border: 1px solid var(--link-main-color);
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  letter-spacing: 0.17rem;
  padding: .8rem .8rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  display: inline-block;
  width: 120px;
}

header li {
	display: inline-block;
	padding: 1em;
}

header a:hover {
  background:  var(--link-main-color);
  color: white;
}

header h1 {
  color: white;
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
}

header h3 {
	color: white;
	font-size: 1.5em;
	font-weight: 300;
	max-width: 50em;
	margin: 0 auto;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

.header-text {
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

footer {
	text-align: center;
	background-color: var(--link-main-color);
}

footer a{
	text-decoration: none;
  border: 1px solid #333;
  color: #333;
  background-color: var(--main-background-color);
  font-size: 0.8rem;
  letter-spacing: 0.17rem;
  padding: .8rem .8rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  display: inline-block;
  width: 120px;
}

footer a:hover {
  background:  var(--main-background-color);
  border: 1px solid var(--link-main-color);
  color: var(--link-main-color);
}

footer li {
	list-style: none;
	display: inline-block;
	padding: 1rem;
}

.obf{
  unicode-bidi:bidi-override; direction: rtl;
}

.lead {
  /*background-color: #eee;*/
  background-color: #ebf3fa;
  color: #3D5D42;
  line-height: 1.5;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: justify;

  background: 
    linear-gradient(63deg, #ebf3fa 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #ebf3fa 78%), 
    linear-gradient(63deg, transparent 34%, #ebf3fa 38%, #ebf3fa 58%, transparent 62%), 
    #fbfcfe;
    background-size: 16px 48px;
    /*#D9EEFF*/
}

.lead h3{
	font-size: 1.5rem;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0;
  margin: 0 auto;
	padding: 0;
  max-width: 50rem;
	text-transform: none;
}

.tagline {
  color: var(--heading-color);
	font-size: 2.3rem;
	font-style: italic;
	margin-top: 1rem;
	padding-top: 5rem;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
  text-transform: none;
}

nav ul {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

li span {
  text-decoration: underline;
}

.obf {
  text-decoration: none;
}