/*:root {
  --heading-color: #fbfcfe;
  --link-main-color: #296eaa;
  --main-background-color: #fbfcfe;
}
removed for IE compatibility
*/

a {
  color: #296eaa;
  text-decoration: none;
}

body {
  color: #333;
  background-color: #fbfcfe;
	font-family: "Raleway", "Helvetica", "Arial", sans-serif;
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
}

main {
	line-height: 1.5;
	margin: 0 auto;
	max-width: 50rem;
	padding: 1rem;
  padding-top: 0;
  text-align: justify;
}

h1:first-of-type {
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  color: #fbfcfe;
  font-family: Raleway;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .5rem;
	padding-top: 3rem;
  padding-bottom: 1rem;
	text-transform: uppercase;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
}

h2 {
  border-bottom: 2px solid #296eaa;
  border-image: linear-gradient(to left, transparent, #296eaa) 10;
	font-size: 2rem;
	padding-bottom: 0.25rem;
	padding-top: 2rem;
}

h3 {
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	padding-top: 1.25rem;
	text-transform: uppercase;
}

html{
	height: 100%;
	margin: 0;
}

header {
  background-color: #071317;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.65)
      ), 
      url(background-small.jpg)
      /*url("https://source.unsplash.com//i_ivTcj8GFo")*/;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*max-width: none;*/
  text-align: center;
  top: 50%;
  

}

header a {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid #296eaa;
  color: #fbfcfe;
}

header a:hover {
  background:  #296eaa;
  color: #fbfcfe;
}

header li, footer li {
	display: inline-block;
  list-style: none;
	padding: 1em;
}

header h1 {
  color: #fbfcfe;
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
}

header h3 {
	font-weight: 300;
  margin: 0 auto;
	max-width: 50em;
}

footer {
  background-color: #296eaa;
	text-align: center;
}

footer a{
  background-color: #fbfcfe;
  border: 1px solid #333;
  color: #333;
}

footer a:hover {
  background:  rgba(255, 255, 255, .75);
  border: 1px solid #296eaa;
  color: #296eaa;
}

li span {
  text-decoration: underline;
}

nav a {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.17rem;
  padding: .8rem .8rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: none 200ms ease-out;
  transition-property: color, background;
  width: 120px;
}

nav ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

ul + h3 {
  padding-top: 2.26rem;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.lead {
  background-color: #ebf3fa;
  background: 
    linear-gradient(63deg, #ebf3fa 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #ebf3fa 78%), 
    linear-gradient(63deg, transparent 34%, #ebf3fa 38%, #ebf3fa 58%, transparent 62%), 
    #fbfcfe;
  background-size: 16px 48px;
  color: #333;
  line-height: 1.5;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: justify;
}

.lead h3{
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 0.01;
  margin: 0 auto;
	padding: 0;
  max-width: 50rem;
	text-transform: none;
}

.tagline {
  color: #fbfcfe;
	font-size: 2.3rem;
	font-style: italic;
	margin-top: 1rem;
	padding-top: 5rem;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
  text-transform: none;
}

#obf {
  text-decoration: none;
}
